/* styles.css */

body {

    background-color: whitesmoke; 

}
body {

    color: #333; 
    text-align:center; 
}

nav{
    text-align:left;
    font-size: medium;
    border-style: solid;
    border-color: black;
    border-width: medium;
    display: inline-block;
    justify-content: space-evenly;
    padding: 15px;

}
h1{
     color: red;
}
table{
    margin: auto;
}

.removedot{
    list-style-type: none;}
